
.glowing-card {
    min-height: 100vh;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.arrow{
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
}
.arrow-text{
    cursor: pointer;
}
.arrow-text:hover .arrow-stem{
    display: block;
    transition: 0.2s ease-in;
}
.underline-text {
    position: relative; 
    display: inline-block; 
}

.underline-text::after {
    content: ''; 
    position: absolute;
    left: 0; 
    bottom: 0; 
    width: 100%; 
    height: 2px; 
    background-color: #ffffff; 
    transform: scaleX(0); 
    transform-origin: bottom left;
    transition: transform 0.3s ease-out; 
}

.underline-text:hover::after {
    transform: scaleX(1); 
}
.glowing-card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: #0d1117;
}

.glowing-card .card {
    position: relative;
    height: 23em;
    color: #fff;
    border-radius: 13px;
    background: radial-gradient(
        1000px circle at 0 0,
        rgba(0, 94, 255, 0),
        transparent 0%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 100ms;
    perspective: 1000px;
    transform: rotateX(0deg) rotateY(0deg); 
    width: 100%;
    overflow: hidden;
}

.glowing-card .card-content {
    background-color: rgba(29, 29, 35, 0.7);
    border-radius: inherit;
    padding: 1.5em;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    z-index: 999;
    align-items: center;
}

.glowing-card:hover .card {
    background: radial-gradient(
        1500px circle at var(--x) var(--y),
        #ff00d44d,
        transparent 15%
    );
}

.card::before {
    content: "";
    position: relative;
    border-radius: inherit;
    background: radial-gradient(
        1500px circle at var(--x) var(--y),
        rgba(255, 0, 212, 0.3),
        transparent 15%
    );
    opacity: 0;
}

.card:hover::before {
    opacity: 1;
}

.sponsors{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 0;
    transform: rotate(-15deg) translateZ(10px);
}
.sponsor-card{
    position: relative;
    color: #fff;
    background-color: #0d1117;
    gap: 2px;
    border: 2px solid #2d333a;
    border-radius: 5px !important;
    display: flex;
    justify-content: end;
    align-items: start;
}

.sponsor-image{
    border-radius: 50%;
}

.heart{
    color: #b5bdc5;
    fill: currentColor;
}

.sponsor-button{
    background-color: #21262d;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.sponsor-button:hover{
    background-color: #292e36;
}
.card-content-container{
    flex-direction: row;
}

@media only screen and (max-width: 1024px){
    .card-content-container{
        flex-direction: column;
    }
    .glowing-card .card{
        height: 100%;
    }
    .sponsors-container{
        overflow: hidden;
    }
    .sponsors{
        justify-content: center;
        margin-left: 51%;
    }
    .sponsors-container{
        overflow: hidden;
    }
}